面试官：说说HTTP 常见的状态码有哪些，适用场景？ | YT 前端日记

https://whyta.cn/post/653afb3c0a29/?highlight=http 

 面试官：说说HTTP 常见的状态码有哪些，适用场景？  一、是什么HTTP状态码（英语：HTTP Status Code），用以表示网页服务器超文本传输协议响应状态的3位数字代码 它由 RFC 2616规范定义的，并得到 RFC 2518、RFC 2817、RFC 2295、RFC 2774与 RFC 4918等规范扩展 简单来讲，http状态码的作用是服务器告诉客户端当前请求响应的状态，通过状态